/* studio */

.studio {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.studio::after {
    content: '788-346';
    position: absolute;
    font-size: 10px;
    letter-spacing: 1.5px;
    top: 15px;
    right: 0;
    opacity: .75;
}
/* ---------------------------------------------- */

@media screen and (min-width: 1440px) {
    .studio::after {
        font-size: 12px;
    }
}

